.weather-statistics {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
  }

  .weather-historical-records {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    width: 40%;
    margin-top: 2rem;
    padding: 1.5rem 2rem;
    // -webkit-box-shadow: 0px 4px 12px 1px rgba(133, 129, 133, 1);
    // -moz-box-shadow: 0px 4px 12px 1px rgba(133, 129, 133, 1);
    // box-shadow: 0px 4px 12px 1px rgba(133, 129, 133, 1);
  }
  .weather-searchbar-conatainer {
    width: 30vw;
    margin: auto;

    h1 {
      margin-bottom: 2rem;
    }
    .weather-searchbar {
      gap: 8px;
    }

    .search-button {
      display: flex;
      height: 40px;
      width: 150px;
      align-items: center;
      justify-content: center;
      margin: auto;
      padding: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      border-radius: 30px;
      border: 1px solid var(--primary-btn-border-color);
      margin-top: 20px !important;
    }
  }

  .chart-container {
    width: 100%;
    .weather-forcast-chart {
      path {
        position: absolute;
        left: 20px !important;
      }
    }
    .custom-tooltip {
      padding: 15px 10px;
      border: none !important;
      border-radius: 10px;
      outline: none !important;
      background: var(--tooltip-bg-primary);

      p {
        color: var(--tooltip-text-primary);
        font-family: var(--font-dm-sans-regular);
      }

      &:focus {
        border: none;
        outline: none;
      }
    }
  }
  .weather-data-container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

    .card-left {
      display: flex;
      gap: 8px;
      align-items: center;

      h2 {
        font-size: 43px;
      }
      p {
        display: flex;
        align-self: flex-start;
        font-size: 18px;
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .temp-conainer {
        display: flex;
        margin-left: 5px;
        .temp-unit {
          display: flex;
          :nth-child(1) {
            border-right: 1px solid #565656;
          }

          p {
            padding: 0 8px;
            cursor: pointer;
          }
        }

        h2 {
          font-size: 3rem;
        }
        .font-bold {
          font-weight: 700;
        }
      }
    }
    .card-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .location-name {
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 10px;
      }
      .day {
        margin-bottom: 5px;
      }
    }
  }
  .weather-history {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;

    .weather-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      padding: 6px 20px;
      h3 {
        font-size: 1rem;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        margin-bottom: 15px;
        color: var(--primary);
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      p {
        font-size: 13px;
        margin-top: 10px;
      }
      .weather {
        text-align: center;
      }
      &.latest-record {
        background-color: var(--weather-latest-card-bg-color);
        border-radius: 10px;
      }
    }
  }

  .weather-cards-next-row {
    margin-top: 50px;
  }
}
