:root {
  --primary-input-bg-color: rgba(238, 243, 251, 1);
  --primary-input-text-color: rgba(138, 138, 138, 1);
  --primary-btn-border-color: rgba(92, 91, 91, 1);
  --weather-latest-card-bg-color: rgba(248, 249, 250, 1);

  --primary: #10b3e8;
  --primary-main: #ff8947;
  --secondary: #565656;
  --tooltip-bg-primary: #0b1423;
  --tooltip-text-primary: #d9d9d9;

  --linear-gradient-primary: linear-gradient(90deg, #ff8947 100%, #ff8947 100%);
}
